<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>College:</strong>
  <%= @participant.college %>
</p>

<p>
  <strong>Interested Event:</strong>
  <%= @participant.interested_event %>
</p>

<p>
  <strong>Year of Engineering:</strong>
  <%= @participant.year_of_engg %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
