<%= form_for(@founditem) do |f| %>
  <% if @founditem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@founditem.errors.count, "error") %> prohibited this founditem from being saved:</h2>

      <ul>
      <% @founditem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_area :brand %>
  </div>
  <div class="field">
    <%= f.label :place_where_found %><br>
    <%= f.text_area :place_where_found %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
