<h1>List of Found Items</h1>

<style>
h1{

text-align:center;
}

body{

background-image:url("assest/2.jpg");

}


</style>

<table border="1" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Brand</th>
      <th>Place where found</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @founditems.each do |founditem| %>
      <tr>
        <td><%= founditem.name %></td>
        <td><%= founditem.color %></td>
        <td><%= founditem.brand %></td>
        <td><%= founditem.place_where_found %></td>
        <td><%= link_to 'Show', founditem %></td>
        <td><%= link_to 'Edit', edit_founditem_path(founditem) %></td>
        <td><%= link_to 'Destroy', founditem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Found Item', new_founditem_path %>
<br>
<%= link_to 'Back', root_path,style:"align:right" %>