<style>
h1{

text-align:center;
}


</style>
<h1>List of Lost Items</h1>

<table border="1" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Brand</th>
      <th>Place where lost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lostitems.each do |lostitem| %>
      <tr>
        <td><%= lostitem.name %></td>
        <td><%= lostitem.color %></td>
        <td><%= lostitem.brand %></td>
        <td><%= lostitem.place_where_lost %></td>
        <td><%= link_to 'Show', lostitem %></td>
        <td><%= link_to 'Edit', edit_lostitem_path(lostitem) %></td>
        <td><%= link_to 'Destroy', lostitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lost Item', new_lostitem_path %>
<br>
<%= link_to 'Back', root_path %>
